.cell-tile {
    -fx-background-color: linear-gradient(#121726, #050814);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #1f2937;
    -fx-border-width: 1.5;
    -fx-text-fill: #f9fafb;
    -fx-font-family: "Copperplate Gothic Light";
    -fx-font-size: 18px;
    -fx-padding: 0;
}

.cell-tile:hover {
    -fx-background-color: linear-gradient(#20263a, #0b1020);
}

.cell-tile:pressed {
    -fx-background-color: #02030a;
    -fx-translate-y: 1;
}

.cell-hidden {
}

.cell-revealed {
    -fx-background-color: white;
    -fx-border-color: #374151;
}

/* Mines */
.cell-mine {
    -fx-background-color: #3b0213;
    -fx-border-color: #fb7185;
    -fx-text-fill: #fecaca;
}

.cell-number {
    -fx-text-fill: navy blue;
    -fx-font-family: "Copperplate Gothic Bold";
    
    
}



.cell-question {
    -fx-text-fill: #facc15;
}

.cell-surprise {
    -fx-text-fill: #a855f7;
}

.grid-board.active-board {
    -fx-opacity: 1.0;
    -fx-effect: dropshadow(gaussian, #3C8DFF, 30, 0.5, 0, 0);
}

.grid-board.inactive-board {
    -fx-opacity: 0.5;
    -fx-effect: none;
}

.active-player-label {
    -fx-text-fill: #F6F7FF;
    -fx-font-weight: bold;
}

.inactive-player-label {
    -fx-text-fill: #8B94C4;
    -fx-font-weight: normal;
}