.difficulty-toggle:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.difficulty-toggle {
	-fx-cursor: hand;
    -fx-background-color: #0B1226;
    -fx-text-fill: #F6F7FF;

    -fx-border-color: #274B8E;   
    -fx-border-width: 2;
    -fx-background-radius: 40;
    -fx-border-radius: 40;
}

.difficulty-toggle:selected {
    -fx-border-color: #35E0FF;   
}



.title-text {
    -fx-font-family: "ethnocentric rg.ttf";
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.normal-text {
    -fx-font-family: "PixelOperator";
    -fx-font-size: 16px;
}


.split-pane-divider {
    -fx-background-color: transparent !important;
    -fx-border-color: transparent !important;
    -fx-padding: 0;
}

.split-pane-divider .horizontal-grabber,
.split-pane-divider .vertical-grabber {
    -fx-background-color: transparent !important;
}